@page
@model AdvancedProgramming_Lesson4.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserList[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserList[0].NormalizedUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserList[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserList[0].NormalizedEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserList[0].EmailConfirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserList[0].PasswordHash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserList[0].SecurityStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserList[0].ConcurrencyStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserList[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserList[0].PhoneNumberConfirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserList[0].TwoFactorEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserList[0].LockoutEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserList[0].LockoutEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserList[0].AccessFailedCount)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UserList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NormalizedUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NormalizedEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordHash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecurityStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConcurrencyStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TwoFactorEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LockoutEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LockoutEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccessFailedCount)
            </td>

        </tr>
}
    </tbody>
</table>